{% extends "interviewer/training/base.html.twig" %}
{% trans_default_domain "interviewer" %}
{% set title_translation_key = "training.dashboard.page-title" %}
{% set title_translation_parameters = {
    'name': app.user.interviewer.name
} %}

{% block content %}
    <div class="prose-scope govuk-!-margin-bottom-7">
        {{- 'training.dashboard.introduction' | trans({hotspotInstructionsUrl: path('interviewer_docs_hotspot')}) | markdown_to_html -}}
    </div>

    {%- from 'interviewer/training/macros.html.twig' import statusTag -%}

    {% set trainingSections = {
        1: 'pre-briefing',
        3: 'in-briefing',
    } %}

    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">{{ 'training.dashboard.table.caption' | trans }}</caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__tr">
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header">{{ 'training.module.started' | trans }}</th>
                <th scope="col" class="govuk-table__header">{{ 'training.module.completed' | trans }}</th>
                <th scope="col" class="govuk-table__header">{{ 'training.module.status' | trans }}</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for trainingRecord in trainingRecords %}
                {# @var trainingRecord \App\Entity\InterviewerTrainingRecord #}
                {% if attribute(trainingSections, trainingRecord.moduleNumber) ?? false %}
                    <tr class="govuk-table__tr">
                        <th scope="col" class="govuk-table__header govuk-!-padding-top-5" colspan="5">
                            {{ "training.dashboard.table.section.#{attribute(trainingSections, trainingRecord.moduleNumber)}" | trans }}
                        </th>
                    </tr>
                {% endif %}
                <tr class="govuk-table__tr">
                    <th scope="row" class="govuk-table__header govuk-!-padding-left-2"><a class="govuk-link" href="{{ path('interviewer_training_module_index', {moduleName: trainingRecord.moduleName}) }}">{{ "training.module.number" | trans({number: trainingRecord.moduleNumber}) | capitalize }}: {{ "training.module.title.#{trainingRecord.moduleName}" | trans | capitalize }}</a></th>
                    <td class="govuk-table__cell">{{ _self.dateOrHyphen(trainingRecord.startedAt) }}</td>
                    <td class="govuk-table__cell">{{ _self.dateOrHyphen(trainingRecord.completedAt) }}</td>
                    <td class="govuk-table__cell">{{ statusTag(trainingRecord) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{%- macro dateOrHyphen(dateVar) -%}
    {{ dateVar ? (dateVar | date(format_date_default)) : '-' }}
{%- endmacro -%}