{% extends "interviewer/training/base.html.twig" %}
{% trans_default_domain "interviewer" %}
{% set title_translation_key = "training.dashboard.page-title" %}
{% set title_translation_parameters = {
    'name': app.user.interviewer.name
} %}

{% block content %}
    {%- from 'interviewer/training/macros.html.twig' import statusTag -%}

    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">{{ 'training.dashboard.table.caption' | trans }}</caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__tr">
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header">{{ 'training.module.created' | trans }}</th>
                <th scope="col" class="govuk-table__header">{{ 'training.module.started' | trans }}</th>
                <th scope="col" class="govuk-table__header">{{ 'training.module.completed' | trans }}</th>
                <th scope="col" class="govuk-table__header">{{ 'training.module.status' | trans }}</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for trainingRecord in trainingRecords %}
            {# @var trainingRecord \App\Entity\InterviewerTrainingRecord #}
            <tr class="govuk-table__tr">
                <th scope="row" class="govuk-table__header"><a href="{{ path('interviewer_training_module_index', {moduleName: trainingRecord.moduleName}) }}">{{ "training.module.number" | trans({number: trainingRecord.moduleNumber}) | capitalize }}: {{ "training.module.title.#{trainingRecord.moduleName}" | trans }}</a></th>
                <td class="govuk-table__cell">{{ _self.dateOrHyphen(trainingRecord.createdAt) }}</td>
                <td class="govuk-table__cell">{{ _self.dateOrHyphen(trainingRecord.startedAt) }}</td>
                <td class="govuk-table__cell">{{ _self.dateOrHyphen(trainingRecord.completedAt) }}</td>
                <td class="govuk-table__cell">{{ statusTag(trainingRecord) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{%- macro dateOrHyphen(dateVar) -%}
    {{ dateVar ? (dateVar | date(format_date_default)) : '-' }}
{%- endmacro -%}