{% extends "interviewer/training/base.html.twig" %}
{% trans_default_domain "interviewer" %}

{%- block modukeHeading -%}
    {{- "training.module.number" | trans({number: trainingRecord.moduleNumber}) | capitalize }}: {{ "training.module.title.#{trainingRecord.moduleName}" | trans | capitalize -}}
{%- endblock -%}

{%- block pageTitlePrefix -%}
    {{- block('modukeHeading') -}}
    {{- " - " -}}
    {{ 'breadcrumbs.training' | trans }}
    {{- " - " -}}
{%- endblock -%}

{%- block pageHeading -%}
    <h1 class="govuk-heading-l">{{- block('modukeHeading') -}}</h1>
{%- endblock -%}

{%- block content -%}
    {{ _self.moduleActions(trainingRecord, _context) }}

    {%- block moduleContent -%}
        {% include "interviewer/training/modules/#{trainingRecord.moduleName}.html.twig" %}
    {%- endblock -%}

{#    {% include 'interviewer/training/module-history.html.twig' %}#}
{%- endblock -%}

{%- macro moduleActions(trainingRecord, context) -%}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListRow -%}
    {%- from 'interviewer/training/macros.html.twig' import statusTag -%}

    <div class="govuk-summary-list" id="training-module-status">
        {{- summaryListRow('training.module.status' | trans, statusTag(trainingRecord)) -}}
    </div>

    {%- set formAction = false -%}
    {%- set buttonText = false -%}

    {%- if formAction -%}
        <form method="post" action="{{ formAction }}" class="govuk-!-margin-top-1">
            <div class="govuk-button-group">
                <button class="govuk-button" type="submit">{{ buttonText }}</button>
            </div>
        </form>
    {%- endif -%}

{%- endmacro -%}
