{% extends "interviewer/dashboard/base.html.twig" %}

{% trans_default_domain "interviewer" %}

{% set title_translation_key = "survey-area.page-title" %}
{% set translation_parameters = {area: areaPeriod.area} %}

{% block content %}
    {%- import "@GhostGovUkFrontend/components/macros.html.twig" as m -%}
    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">{{ "survey-area.households" | trans }}</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">{{ "survey-area.table.serial" | trans }}</th>
            <th scope="col" class="govuk-table__header">{{ "survey-area.table.diary-keepers" | trans }}</th>
            <th scope="col" class="govuk-table__header">{{ "survey-area.table.diary-week-start-date" | trans }}</th>
            <th scope="col" class="govuk-table__header">{{ "survey-area.table.state" | trans }}</th>
            <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">{{ 'table.action-links'|trans({}, 'messages') }}</span></th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        {%- for household in areaPeriod.households | filter(h => h.isOnboardingComplete) -%}
            {# @var household \App\Entity\Household #}
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell">{{ household.serialNumber }}</th>
                <td class="govuk-table__cell">{{ household.diaryKeepers.count }}</td>
                <td class="govuk-table__cell">{{ household.diaryWeekStartDate | date(format_date_default) }}</td>
                <td class="govuk-table__cell">{{ "diary-keeper.states.#{household.state}" | trans }}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                    {{ m.actionLinks({
                        (path('interviewer_dashboard_household', {household: household.id})): {
                            label: 'survey-area.view',
                            labelDomain: 'interviewer',
                            srHiddenSuffix: 'survey-area.view-sr-hidden-suffix',
                            srHiddenSuffixParams: {household: household.householdNumber, address: household.addressNumber},
                            srHiddenSuffixDomain: 'interviewer',
                        }
                    }) }}
                </td>
            </tr>
        {%- else -%}
            <tr>
                <td colspan="4" class="govuk-table__cell">{{ "survey-area.no-households" | trans }}</td>
            </tr>
        {%- endfor -%}
        </tbody>
    </table>

    <div class="govuk-button-group">
        <a href="{{ path('interviewer_area_onboarding_codes', {areaPeriod: areaPeriod.id}) }}" class="govuk-button">{{ "survey-area.onboarding-codes" | trans }}</a>
        <a href="{{ path('interviewer_dashboard') }}" class="govuk-link">{{ "survey-area.back" | trans }}</a>
    </div>
{% endblock %}