{% extends "interviewer/dashboard/base.html.twig" %}

{#{% set htmlClasses = "govuk-full-width" %}#}
{% set household = diaryKeeper.household %}
{% set areaPeriod = household.areaPeriod %}

{% trans_default_domain "interviewer" %}

{% set title_translation_key = "diary-keeper.page-title" %}
{% set title_translation_parameters = {
    name: diaryKeeper.name
} %}
{% set heading_class = "govuk-heading-xl" %}

{% block content %}
    {%- from "@GhostGovUkFrontend/components/macros.html.twig" import actionlessSummaryListRow, summaryListRow -%}
    <div class="govuk-!-margin-bottom-5">
        {% include 'travel_diary/dashboard/includes/diary_keeper_details.html.twig' with {showName: false} %}
    </div>

{% if is_granted('EDIT_DIARY', diaryKeeper) %}<a class="govuk-button" href="{{ (path('app_home', {_switch_user: diaryKeeper.user.userIdentifier})) }}">{{ 'household.impersonate' | trans }}</a>{% endif %}

    <h2 class="govuk-heading-m govuk-!-margin-top-5">Access and proxying</h2>
    <dl class="govuk-summary-list">
        {% set userStatePs = diaryKeeper.user.identifierForLogin ? [(diaryKeeper.user.password ? 'diary-keeper.login-confirmed' : 'diary-keeper.login-not-confirmed') | trans] : [] %}
        {% set userStatePs = userStatePs | merge(diaryKeeper.user.hasPendingUsernameChange ? ['diary-keeper.pending-change' | trans] : []) %}
        {% set userStatePs = userStatePs is not empty ? '&emsp;<em>(' ~ (userStatePs | join(', ')) ~ ')</em>' : '' %}
        {{- summaryListRow(
            "diary-keeper.has-login" | trans,
            (diaryKeeper.user.identifierForLogin
                ? ('boolean.true' | trans({}, 'messages'))
                : 'boolean.false' | trans({}, 'messages'))  ~ userStatePs,
            is_granted('EMAIL_CHANGE', diaryKeeper.user)
                ? {(path('interviewer_change_email', {diaryKeeper: diaryKeeper.id})): {label: 'actions.change-email', labelDomain: 'auth'}}
                : {},
            {html: true}
        ) -}}
        {{- summaryListRow(
            "diary-keeper.proxied-by" | trans,
            (diaryKeeper.proxies | length > 0) ? (diaryKeeper.proxyNames | join(', ')) : '-',
            is_granted('CHANGE_PROXIES', diaryKeeper)
                ? {(path('interviewer_change_proxies', {diaryKeeper: diaryKeeper.id})): 'actions.change'}
                : {}
        ) -}}
        {{- summaryListRow(
            "diary-keeper.proxy-for" | trans,
            diaryKeeper.actingAsAProxyForOthers ? (diaryKeeper.actingAsAProxyForNames | join(', ')) : '-'
        ) -}}
    </dl>

    {%- set milometerEnabled = is_feature_enabled(constant('\\App\\Features::MILOMETER')) -%}
    {%- if milometerEnabled and not diaryKeeper.primaryDriverVehicles.empty -%}
        <table class="govuk-table diary-keeper-view govuk-!-margin-top-8">
            <caption class="govuk-table__caption govuk-table__caption--m">{{ "days.primary-driver-vehicles" | trans({}, 'travel-diary') }}</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">{{ 'vehicle.form.capi-number.label' | trans({}, 'on-boarding') }}</th>
                    <th scope="col" class="govuk-table__header">{{ 'vehicle.form.name.label' | trans({}, 'on-boarding') }}</th>
                    <th scope="col" class="govuk-table__header">{{ 'vehicle.form.method.label' | trans({}, 'on-boarding') }}</th>
                    <th scope="col" class="govuk-table__header">{{ 'vehicle.milometer-readings.start' | trans }}</th>
                    <th scope="col" class="govuk-table__header">{{ 'vehicle.milometer-readings.end' | trans }}</th>
                    <th scope="col" class="govuk-table__header">{{ 'vehicle.milometer-readings.unit' | trans }}</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {%- for vehicle in diaryKeeper.primaryDriverVehicles -%}
                    {# @var \App\Entity\Vehicle vehicle #}
                    <tr class="govuk-table__row">
                        <th class="govuk-table__cell">{{ vehicle.capiNumber }}</th>
                        <th class="govuk-table__cell">{{ vehicle.friendlyName }}</th>
                        <td class="govuk-table__cell">{{ "stage.method.choices.#{vehicle.method.descriptionTranslationKey}" | trans({}, 'travel-diary') }}</td>
                        <td class="govuk-table__cell">{{ vehicle.weekStartOdometerReading ?? '-' }}</td>
                        <td class="govuk-table__cell">{{ vehicle.weekEndOdometerReading ?? '-' }}</td>
                        <td class="govuk-table__cell">
                            {%- if vehicle.odometerUnit -%}
                                {{ "unit.distance.#{vehicle.odometerUnit}" | trans({}, 'messages') }}
                            {%- else -%}
                                {{ '-' }}
                            {%- endif -%}
                        </td>
                    </tr>
                {%- endfor -%}
            </tbody>
        </table>
    {%- endif -%}

    <div class="govuk-button-group">
        {%- if workflow_can(diaryKeeper, constant('App\\Entity\\DiaryKeeper::TRANSITION_UNDO_COMPLETE')) -%}
            <a href="{{ path('interviewer_diary_state_reopen', {diaryKeeper: diaryKeeper.id}) }}" class="govuk-button">{{ "diary-keeper.mark-as-in-progress" | trans }}</a>
        {%- endif -%}
        {%- if workflow_can(diaryKeeper, constant('App\\Entity\\DiaryKeeper::TRANSITION_APPROVE')) -%}
            <a href="{{ path('interviewer_diary_state_approve', {diaryKeeper: diaryKeeper.id}) }}" class="govuk-button">{{ "diary-keeper.mark-as-approved" | trans }}</a>
        {%- endif -%}
        {%- if workflow_can(diaryKeeper, constant('App\\Entity\\DiaryKeeper::TRANSITION_UNDO_APPROVAL')) -%}
            <a href="{{ path('interviewer_diary_state_un_approve', {diaryKeeper: diaryKeeper.id}) }}" class="govuk-button">{{ "diary-keeper.undo-approve" | trans }}</a>
        {%- endif -%}
        {%- if workflow_can(diaryKeeper, constant('App\\Entity\\DiaryKeeper::TRANSITION_DISCARD')) -%}
            <a href="{{ path('interviewer_diary_state_discard', {diaryKeeper: diaryKeeper.id}) }}" class="govuk-button govuk-button--warning">{{ "diary-keeper.mark-as-discarded" | trans }}</a>
        {%- endif -%}
        {%- if workflow_can(diaryKeeper, constant('App\\Entity\\DiaryKeeper::TRANSITION_UNDO_DISCARD')) -%}
            <a href="{{ path('interviewer_diary_state_un_discard', {diaryKeeper: diaryKeeper.id}) }}" class="govuk-button">{{ "diary-keeper.undo-discard" | trans }}</a>
        {%- endif -%}
        <a href="{{ path('interviewer_dashboard_household', {household: household.id}) }}" class="govuk-link">{{ "diary-keeper.back" | trans }}</a>
    </div>
{%- endblock -%}

