{%- trans_default_domain 'travel-diary' -%}

{%- macro journeySidebar(journey, options) -%}
    {%- set translation_prefix = "journey.side" -%}
    {%- set options = options ?? {} -%}
    {%- set h2Class = "govuk-heading-s" -%}
    {%- set h3Class = "govuk-heading-s govuk-!-font-size-16" -%}
    {%- set bodyClass = "govuk-body-s" -%}

    {%- if journey.startLocationForDisplay -%}
        {%- if options.showHeading ?? true -%}
            <h2 class="{{ h2Class }}">{{ (options.header_translation_key ?? "journey.side.title.journey") | trans }}</h2>
        {%- endif -%}

        <h3 class="{{ h3Class }} govuk-!-margin-bottom-1">{{ "#{translation_prefix}.title.start" | trans }}</h3>
        <p class="{{ bodyClass }}">
            {% if journey.startTime is not null %}
                {{- "journey.view.location-and-time" | trans({
                    location: journey.startLocationForDisplay,
                    time: journey.startTime | date(format_time_short),
                }) | nl2br -}}
            {%- else -%}
                {{- journey.startLocationForDisplay -}}
            {%- endif -%}
        </p>
    {%- endif -%}

    {%- if journey.endLocationForDisplay -%}
        <h3 class="{{ h3Class }} govuk-!-margin-bottom-1">{{ "#{translation_prefix}.title.end" | trans }}</h3>
        <p class="{{ bodyClass }}">
            {% if journey.endTime is not null %}
                {{- "journey.view.location-and-time" | trans({
                    location: journey.endLocationForDisplay,
                    time: journey.endTime | date(format_time_short),
                }) | nl2br -}}
            {%- else -%}
                {{- journey.endLocationForDisplay -}}
            {%- endif -%}
        </p>
    {%- endif -%}

    {%- if options.show_purpose ?? true -%}
        {%- if journey.purpose is not null -%}
            <h3 class="{{ h3Class }} govuk-!-margin-bottom-1">{{ "#{translation_prefix}.title.purpose" | trans }}</h3>
            <p class="{{ bodyClass }}">{{- journey.purpose -}}</p>
        {%- endif -%}
    {%- endif -%}

    {%- if options.show_stages ?? true -%}
        {%- if journey.stages is not empty or (options.isAdd ?? false) -%}
            <h3 class="{{ h3Class }} govuk-!-margin-bottom-1">{{ "#{translation_prefix}.title.stages" | trans }}</h3>
            <ul class="govuk-list govuk-list--number nts-stagelist govuk-!-font-size-16">
                {%- for stage in journey.stages -%}
                    {{- _self.renderStage(stage, translation_prefix, options) -}}
                {%- endfor -%}
                {%- if options.isAdd ?? false -%}
                    {{- _self.renderStage(options.stageInProgress, translation_prefix, options) -}}
                {%- endif -%}
            </ul>
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}

{%- macro renderStage(stage, translation_prefix, options) -%}
    {%- set isCurrentStage = stage.id == (options.currentStageId ?? null) -%}
    <li{% if isCurrentStage %} class="nts-stagelist--current"{% endif %}>
        {%- set method = stage.methodForDisplay(true) -%}
        {%- if method is not null -%}{%- set method = method | trans -%}{%- endif -%}

        {%- set argState = method is null ? 'empty' : (stage.travelTime is null ? 'noTravelTime': 'other') -%}
        {{- "#{translation_prefix}.stage" | trans({
            number: stage.number,
            method: method,
            argState: argState,
            travelTime: stage.travelTime
        }) -}}
    </li>
{%- endmacro -%}