{%- extends 'travel_diary/share_journey/base_form.html.twig' -%}

{%- trans_default_domain 'travel-diary' -%}

{% block preFormContent %}

    {% if is_granted('CAN_SHARE_JOURNEY', subject) %}
        <div class="prose-scope">
            {{- 'share-journey.introduction.pre-form' | trans(translation_parameters) | markdown_to_html -}}
        </div>

        {% set htmlContent %}
            <p class="govuk-body">{{ 'share-journey.help-details.content' | trans }}</p>
            {% from 'macros/vimeo-container.html.twig' import videoContainer %}
            {{ videoContainer('760318949/ded540aa67', 'day.practice.help-details.text' | trans) }}
        {% endset %}
        {%- from "@GhostGovUkFrontend/components/macros.html.twig" import details -%}
        {{ details({
            summaryText: 'share-journey.help-details.text' | trans,
            html: htmlContent,
        }) }}
    {% else %}
        <div class="prose-scope">
            {{- 'share-journey.cannot-share.pre-form' | trans(translation_parameters) | markdown_to_html -}}
        </div>
    {% endif %}

{% endblock %}