{%- extends 'travel_diary/share_journey/base_form.html.twig' -%}

{%- trans_default_domain 'travel-diary' -%}

{% block preFormContent %}

    {% if is_granted('CAN_SHARE_JOURNEY', subject) %}
        <div class="prose-scope">
            {{- 'share-journey.introduction.pre-form' | trans(translation_parameters) | markdown_to_html -}}
        </div>

        {% set htmlContent %}
            <p class="govuk-body">{{ 'share-journey.help-details.content' | trans }}</p>
            <div class="video-container">
                <iframe src="https://player.vimeo.com/video/760318949?h=ded540aa67&badge=0&autopause=0&player_id=0&app_id=58479&byline=0&dnt=1&title=0" frameborder="0" allow="fullscreen; picture-in-picture" allowfullscreen title="{{ 'day.practice.help-details.text' | trans }}"></iframe>
            </div>
        {% endset %}
        {%- from "@GhostGovUkFrontend/components/macros.html.twig" import details -%}
        {{ details({
            summaryText: 'share-journey.help-details.text' | trans,
            html: htmlContent,
        }) }}
    {% else %}
        <div class="prose-scope">
            {{- 'share-journey.cannot-share.pre-form' | trans(translation_parameters) | markdown_to_html -}}
        </div>
    {% endif %}

{% endblock %}