{% trans_default_domain 'admin' %}
{% from '@GhostGovUkFrontend/components/macros.html.twig' import tag %}
{% from _self import contextDetail %}
{% set showActions  = showActions ?? false %}
<dl class="govuk-summary-list">
    {{ contextDetail('feedback.view.details.state' | trans, tag({
        text: "feedback.view.state.labels.#{message.state}" | trans,
        classes: 'govuk-tag govuk-tag--' ~ ("feedback.view.state.colours.#{message.state}" | trans),
    })) }}
    {{ contextDetail('feedback.view.details.category' | trans, message.category.value | title) }}
    {{ contextDetail('feedback.view.details.page' | trans, message.pageOrUnknown) }}
    {%- if message.state != constant('App\\Entity\\Feedback\\Message::STATE_NEW') -%}
        {{ contextDetail(
            'feedback.view.details.assigned-to' | trans,
            message.assignedTo,
            workflow_can(message, constant('App\\Entity\\Feedback\\Message::TRANSITION_ASSIGN')) and is_granted('ADMIN_FEEDBACK_ASSIGN') and showActions
                ? {(path('admin_feedback_assignment_message', {message: message.id})): 're-assign'}
                : {}
        ) }}
    {%- endif -%}
    {{ contextDetail('feedback.view.details.user' | trans, message.currentUserSerial | format_feedback_user_serial) }}
    {{ contextDetail('feedback.view.details.impersonator' | trans, message.originalUserSerial | format_feedback_user_serial) }}
</dl>

{% macro contextDetail(title, value, actions) %}
    {% from '@GhostGovUkFrontend/components/macros.html.twig' import actionLinks %}
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">{{ title | trans }}</h2>
    <div class="govuk-body">
        {{- value -}}
        {%- if actions -%}
            &ensp;({{ actionLinks(actions) }})
        {%- endif -%}
    </div>
{% endmacro %}