{% extends 'admin/base.html.twig' %}

{% trans_default_domain 'admin' %}
{% set title_translation_prefix = 'interviewer.list' %}
{% set title_translation_domain = 'admin' %}

{% block content %}
    {% from '@GhostGovUkFrontend/components/macros.html.twig' import tableHead, tableCell, tableRowComplex, actionLinks, tag %}
    {%- from 'macros/list-page.html.twig' import listTableStart, listTableEnd -%}

    {{ listTableStart(data, form) }}
    {% for interviewer in data.entities %}
        {# @var interviewer \App\Entity\Interviewer #}
        <tr class="govuk-table__row">
            {{ tableCell(interviewer.name ?? '-') }}
            {{ tableCell(interviewer.serialId ?? '-') }}
            {{ tableCell(interviewer.user.userIdentifier ?? '-') }}
            {{ tableCell(actionLinks({(path('admin_interviewers_view', {id: interviewer.id})): {label: 'view', srHiddenSuffix: "interviewer #{interviewer.user.userIdentifier}"} }), {numeric: true}) }}
        </tr>
    {% else %}
        {{ tableRowComplex({"No results": {colSpan: data.fields|length + 1}}) }}
    {% endfor %}
    {{ listTableEnd(data, form) }}

    <a class="govuk-button" href="{{ url('admin_interviewers_add') }}">{{ "interviewer.list.add-button" | trans }}</a>
{% endblock %}