{% extends 'travel_diary/base.html.twig' %}
{% trans_default_domain 'travel-diary' %}

{% set title_translation_key = "days.page-title" %}
{% set heading_class = "govuk-heading-xl" %}

{% set translation_parameters = {
    diary_keeper_name: diaryKeeper | diary_keeper_display_name,
} %}
{% set breadcrumb_translation_parameters = translation_parameters %}

{% block content %}
    {# @var diaryKeeper \App\Entity\DiaryKeeper #}
    <p class="govuk-body">{{ 'days.intro' | trans }}</p>

    {% include 'travel_diary/dashboard/includes/diary_keeper_details.html.twig'%}
    {% include 'travel_diary/dashboard/includes/video-help.html.twig' %}

    {%- import "@GhostGovUkFrontend/components/macros.html.twig" as m -%}

    {%- include 'travel_diary/dashboard/includes/diary_keeper_proxies.html.twig' -%}

    {% if not diaryKeeper.primaryDriverVehicles.empty %}
        <h2 class="govuk-heading-m" id="vehicles">{{ 'days.primary-driver-vehicles' | trans }}</h2>
        <ul class="govuk-list">
            {% for vehicle in diaryKeeper.primaryDriverVehicles %}
                {# @var vehicle \App\Entity\Vehicle #}
                <li><a class="govuk-link" href="{{ path('traveldiary_vehicle_index', {vehicle: vehicle.id}) }}">{{ "days.enter-odometer-readings" | trans({vehicle: vehicle.friendlyName}) }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}


    {% if diaryKeeper.practiceDay %}
        <h2 class="govuk-heading-m">{{ "days.practice-day.heading" | trans(translation_parameters) }}</h2>
        <p class="govuk-body">
            <a class="govuk-link" href="{{ path('traveldiary_dashboard_day', {'dayNumber': 0}) }}">{{ "days.practice-day.link" | trans(translation_parameters) }}</a>
        </p>
    {% endif %}

    <h2 class="govuk-heading-m">{{ "days.diary-week" | trans(translation_parameters) }}</h2>
    <div class="prose-scope">{{ 'days.diary-week-intro-copy' | trans | markdown_to_html }}</div>
    <dl class="govuk-summary-list">
        {% for day in diaryKeeper.diaryDays %}
            {{ m.summaryListRow(
                "descriptions.day" | trans({
                    dayNumber: day.number,
                    date: day.date | date(format_date_with_dow),
                }),
                "days.x-journeys" | trans({
                    journeyCount: day.journeys | length,
                }),
                {
                    (path('traveldiary_journey_wizard_start', {dayNumber: day.number})): {
                        label: "days.add-journey",
                        labelDomain: 'travel-diary',
                        srHiddenSuffix: "days.add-journey-sr-hidden-suffix",
                        srHiddenSuffixParams: { dayNumber: day.number },
                        srHiddenSuffixDomain: 'travel-diary',
                    },
                    (path('traveldiary_dashboard_day', {dayNumber: day.number})): {
                        label: "days.view",
                        labelDomain: 'travel-diary',
                        srHiddenSuffix: "days.view-sr-hidden-suffix",
                        srHiddenSuffixParams: { dayNumber: day.number },
                        srHiddenSuffixDomain: 'travel-diary',
                    }
                }
            ) }}
        {% endfor %}
    </dl>

    {%- if workflow_can(diaryKeeper, constant('App\\Entity\\DiaryKeeper::TRANSITION_COMPLETE')) -%}
        <div class="govuk-button-group">
            <a class="govuk-button" href="{{ path('traveldiary_mark_as_complete') }}">{{ 'mark-as-complete.form.mark-as-complete' | trans }}</a>
        </div>
    {%- endif -%}
{% endblock %}