{% extends 'travel_diary/dashboard/base.html.twig' %}
{% trans_default_domain 'travel-diary' %}

{% set translation_prefix = "day" %}
{% set title_translation_parameters = {
    dayNumber: day.number,
    date: day.date | date(format_date_with_dow)
} %}
{% set heading_class = "govuk-heading-xl" %}

{% set breadcrumb_translation_parameters = {
    diary_keeper_name: diaryKeeper | diary_keeper_display_name,
} %}

{% block content %}
    {%- from "@GhostGovUkFrontend/components/macros.html.twig" import actionlessSummaryListRow, summaryListRow -%}
    {%- set household = diaryKeeper.household -%}
    {%- set areaPeriod = household.areaPeriod -%}

    <div class="prose-scope">{{ 'day.introduction-markdown' | trans({
            dayNumber: day.number,
            vehicleCount: diaryKeeper.primaryDriverVehicles.count,
            vehicleUrl: path('traveldiary_dashboard') ~ '#vehicles',
        }) | markdown_to_html }}
    </div>
    {% if day.isPracticeDay %}
        {% include 'travel_diary/dashboard/includes/video-help.html.twig' %}
    {% endif %}

    <dl class="govuk-summary-list">
        {%- for journey in day.journeys -%}
            {%- set linkTranslationParameters = {
                startLocation: journey.startLocationForDisplay,
                endLocation: journey.endLocationForDisplay,
            } -%}

            {{- summaryListRow(
                "day.journey.time" | trans({
                    time: journey.startTime | date(format_time_short)
                }),
                "day.journey.description" | trans({
                    startLocation: journey.startLocationForDisplay,
                    endLocation: journey.endLocationForDisplay,
                    stageCount: journey.stages | length,
                }),
                {
                    (path('traveldiary_journey_view', {journeyId: journey.id})): {
                        label: "day.view",
                        labelDomain: 'travel-diary',
                        srHiddenSuffix: "day.view-sr-hidden-suffix",
                        srHiddenSuffixDomain: 'travel-diary',
                        srHiddenSuffixParams: linkTranslationParameters,
                    }
                }
            ) -}}
        {%- else -%}
            {{- actionlessSummaryListRow("day.no-journeys" | trans) -}}
        {%- endfor -%}
    </dl>

    <div class="govuk-button-group govuk-!-margin-bottom-8">
        <a class="govuk-button" href="{{ path('traveldiary_journey_wizard_start', {dayNumber: day.number}) }}">
            {{- "day.add-journey" | trans -}}<span class="govuk-visually-hidden">
                {{- ' ' ~ ("day.add-journey-sr-hidden-suffix" | trans({
                    dayNumber: day.number,
                    date: day.date | date(format_date_with_dow)
                })) -}}</span>
        </a>
        <a class="govuk-link" href="{{ path('traveldiary_repeat_journey_v2_wizard_start', {dayNumber: day.number}) }}">{{ "day.repeat-a-journey" | trans }}</a>
        <a class="govuk-link" href="{{ path('traveldiary_dashboard') }}">{{ "day.back" | trans }}</a>
    </div>

    {# Notes #}
    {%- if is_impersonator_granted('ROLE_INTERVIEWER') -%}
        <h2 class="govuk-heading-l">{{ "day.notes.heading" | trans }}</h2>

        <p class="govuk-inset-text">{{ 'day.notes.guidance' | trans | nl2br }}</p>

        <dl class="govuk-summary-list">
            {{- summaryListRow("day.notes.diary-keepers-notes" | trans, day.diaryKeeperNotes ?? ("day.notes.no-notes" | trans), {}) -}}
            {{- summaryListRow(
                "day.notes.interviewers-notes" | trans, day.interviewerNotes ?? ("day.notes.no-notes" | trans),
                {
                    (path('traveldiary_day_interviewer_notes', {dayNumber: day.number})): {
                        label: "day.notes.#{day.interviewerNotes ? 'edit-notes' : 'add-notes'}",
                        labelDomain: 'travel-diary',
                    },
                }) -}}
        </dl>
    {%- else -%}
        <h2 class="govuk-heading-l">{{ "day.notes.heading-diary-keeper" | trans }}</h2>

        <p class="govuk-inset-text">{{ 'day.notes.guidance' | trans | nl2br }}</p>

        <p class="govuk-body">{{- (day.diaryKeeperNotes ?? ("day.notes.no-notes" | trans)) | nl2br -}}</p>
        <p class="govuk-body">
            <a class="govuk-link" href="{{ path('traveldiary_day_diary_keeper_notes', {dayNumber: day.number}) }}">
                {{- "day.notes.#{day.diaryKeeperNotes ? 'edit-notes' : 'add-notes'}" | trans -}}
            </a>
        </p>
    {%- endif -%}
{% endblock %}