{% trans_default_domain 'travel-diary' %}

{% set filteredProxies = diaryKeeper.actingAsProxyFor | filter(d => is_granted('CAN_IMPERSONATE_USER', d.user)) %}
{% if not is_granted('IS_IMPERSONATOR') and filteredProxies is not empty %}
    <h2 class="govuk-heading-m govuk-!-padding-top-4">{{ 'days.other-members-of-my-household' | trans }}</h2>
    <ul class="govuk-list">
        {% for proxy in filteredProxies %}
            {# @var proxy \App\Entity\DiaryKeeper #}
            <li>
                {% if is_granted('EDIT_DIARY', proxy) %}
                    <a class="govuk-link" href="{{ path('app_home', {_switch_user: proxy.user.userIdentifier}) }}">{{ "days.switch-user" | trans({diary_keeper_name: proxy | diary_keeper_display_name}) }}</a>
                {% else %}
                    {{ proxy | diary_keeper_display_name }}
                {% endif %}
                ({{ "diary-keeper.states.#{proxy.diaryState}" | trans }})
            </li>
        {% endfor %}
    </ul>
{% endif %}
